.HeaderBottom {
    &-title {
        // width: 70%;
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 120.7%;
        color: #FFFFFF;
        margin: 85px 0 50px 0;
    }
}